<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Blog</title>
</head>
<body>

  <h1>Update Your Blog</h1>

  <form action="/update/<%= index %>" method="POST">
    <input type="text" name="title" value="<%= blog.title %>" required>
    <input type="text" name="content" value="<%= blog.content %>" required>
    <input type="submit" value="Update Blog">
  </form>

</body>
</html>
